<div class="wish-holder">
  <header class="dash-header">
    <div  id="back" routerLink="/index">
      <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
      <span>Back to login</span>
    </div>
    <h1 class="text-center">Here is your messages</h1>
  </header>
      <div class="container">
          <div class="media">
              <div id="demo" class="carousel slide" data-ride="carousel" uk-lightbox data-interval="2000">

                  <!-- Indicators -->


                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <a class="uk-button uk-button-default" href="../../assets/images/001.png" data-caption="Image">
                        <img src="../../assets/images/001.png" alt="">
                      </a>

                    </div>
                    <div class="carousel-item">
                      <a class="uk-button uk-button-default" href="https://yootheme.com/site/images/media/yootheme-pro.mp4" data-caption="Video">
                        <video controls>
                          <source src="https://yootheme.com/site/images/media/yootheme-pro.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                      </a>

                    </div>

                  </div>

                  <!-- Left and right controls -->
                  <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a> -->



                </div>

          </div>
          <div class="wish-text">
            <img src="../../assets/images/wish.png" alt="" id="tp">
            <h2>Message Heading</h2>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
              <img src="../../assets/images/wish.png" alt="" id="bt">
          </div>
          <div class="sender-info">
              <p>Send by <span>Sender</span></p>
          </div>
      </div>

</div>

