<div class="wish-holder">
  <header class="dash-header">
    <div id="back" routerLink="/dashboard">
      <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
      <span>Back to dashboard</span>
    </div>
    <h1 class="text-center">Here is your messages</h1>
  </header>
  <div class="container my-2">
    <div class="media">
      <div id="demo" class="carousel slide" data-ride="carousel" uk-lightbox data-interval="2000">

        <!-- Indicators -->


        <!-- The slideshow -->


        <div class="carousel-inner">

   <ng-container *ngIf="finalFiles; else _else">
            <ng-container *ngFor="let item of finalFiles;let i=index">
              <div *ngIf="item.isImage" class="carousel-item text-center" [ngClass]="{'active':i === 0}">
                <a class="uk-button uk-button-default" [href]="item.url" data-caption="Image">
                  <img [src]="item.url" alt="">
                </a>

              </div>

              <div class="carousel-item" *ngIf="!item.isImage" class="carousel-item text-center" [ngClass]="{'active':i === 0}">
                <a class="uk-button uk-button-default" [href]="item.url"
                  data-caption="Video">
                  <video controls>
                    <source [src]="item.url" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </a>

              </div>






            </ng-container>
          </ng-container>


          <ng-template #_else>
            <div class="spinner-border text-info text-center p-5" style="    margin-left: 40%;margin-top: 10%;"
              role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </ng-template>


          <!-- <ng-container *ngFor="let item of _files;let i=index">
                      <div class="carousel-item text-center" [ngClass]="{'active':i === 0}">
                        <a class="uk-button uk-button-default" [href]="item" data-caption="Image">
                          <img [src]="item" alt="">
                        </a>

                      </div>
                  </ng-container> -->

          <!-- <div class="carousel-item">
                      <a class="uk-button uk-button-default" href="https://yootheme.com/site/images/media/yootheme-pro.mp4" data-caption="Video">
                        <video controls>
                          <source src="https://yootheme.com/site/images/media/yootheme-pro.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                      </a>

                    </div> -->

        </div>

        <!-- Left and right controls -->
        <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                  </a> -->



      </div>

    </div>

<!--
    <div >

      <a class="uk-button uk-button-default" href="https://firebasestorage.googleapis.com/v0/b/birthday-b0c99.appspot.com/o/files%2Fbutterfly_nectar_feeding_moth_beak_689.mp4?alt=media&token=6c8031b1-e9de-4a4d-9dab-9c7c8a76fbfe" data-caption="Video">
        <video controls>
          <source src="https://firebasestorage.googleapis.com/v0/b/birthday-b0c99.appspot.com/o/files%2Fbutterfly_nectar_feeding_moth_beak_689.mp4?alt=media&token=6c8031b1-e9de-4a4d-9dab-9c7c8a76fbfe" type="video/mp4">
        Your browser does not support the video tag.
        </video>
      </a>


    </div> -->


    <div class="wish-text">
      <img src="../../assets/images/wish.png" alt="" id="tp">
      <h2>Message Heading</h2>
      <p>{{wish}}</p>
      <img src="../../assets/images/wish.png" alt="" id="bt">
    </div>
    <div class="sender-info">
      <p>Send by <span>{{name}}</span></p>
    </div>
  </div>

</div>
