<header class="dash-header">
  <div id="back" routerLink="/index">
    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <span>Back to login</span>
  </div>

  <h1 class="text-center">Welcome to your dashboard</h1>
  <div class="container text-center">
    <!-- Nav pills -->
    <ul class="nav nav-pills justify-content-center" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" (click)="filter($event,'NISCHAY')" data-toggle="pill" >Husband</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="filter($event,'FAMILY')" data-toggle="pill" >Family</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="filter($event,'FRIENDS')" data-toggle="pill" >Friends</a>
      </li>

    </ul>
  </div>
</header>
<div class="msg">
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active">
      <ul>
       <ng-container  *ngFor="let box of wishes">

        <ng-container  *ngIf="box?.isOpen; else close">
          <li>
            <div class="each-msg">
              <img src="assets/images/email-open.png" alt="">
              <h4>{{box?.name}}</h4>
              <p>{{box?.wish}}</p>
            </div>
          </li>
        </ng-container >

        <ng-template #close>
          <li>
            <div class="each-msg open" >
              <img src="assets/images/email-close.png" alt="">
              <h4>{{box?.name}}</h4>
              <p>{{box?.wish}}</p>
            </div>
          </li>
        </ng-template>


       </ng-container>





      </ul>



  </div>
